<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="2">
            <h1 class="main-title"><strong>The Travel Blog</strong></h1>
            <img style="width:100%; padding-top: 20px" src="../../assets/map-banner.png" height="104%" alt="Main Banner">
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="4" rowHeight="100px">
            <img mat-card-image style="z-index: 1;" src="../../assets/main-banner.jpg" height=100% width=100% alt="Sub Banner">
        </mat-grid-tile>
    </mat-grid-list>
    <button style="margin: 10px" class="editMode" *ngIf="(editMode$ | async)" (click)="newPost()" mat-raised-button>
        <mat-icon class="editMode">add_circle</mat-icon> New Post
      </button>
    <mat-grid-list id="cardsContainer" cols="3" rowHeight="300px">
        <mat-grid-tile *ngFor="let card of cards">
          <div class="card blog-card" style="width: 100%; height: 275px">
            <div class="card-body">
              <h2 class="card-title blog-card-title">previewTitle</h2>
              <h4 class="card-text blog-card-text">previewDescription</h4>
              <img class="card-img-top" src="previewImageUrl" alt="Insert Cover Image">
            </div>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
