<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="2">
            <h1 class="main-title"><strong>The Travel Blog</strong></h1>
            <img style="width:100%; padding-top: 3px" src="../../assets/map-banner.png" height="104%" alt="Main Banner">
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="4" rowHeight="100px">
            <img mat-card-image style="z-index: 1; margin-bottom: 30px" src="../../assets/main-banner.jpg" height=100% width=100% alt="Sub Banner">
        </mat-grid-tile>
    </mat-grid-list>
    <button class="editMode" *ngIf="(editMode$ | async)" (click)="navToNewPostForm()" mat-raised-button>
        <mat-icon class="editMode">add_circle</mat-icon> New Post
      </button>
      <div style="display: flex !important; flex-wrap: wrap !important">
        <div class="card blog-card" style="min-width: 33%; max-width: 33%;" *ngFor="let post of (blogPosts$ | async); let i = index">
          <button (click)="selectBlogCard(post.id)" >
            <div class="card-body">
              <h2 class="card-title blog-card-title">{{post.title}}</h2>
              <h4 class="card-text blog-card-text">{{post.description}}</h4>
              <img style="height:185px" class="card-img-top" [src]="post.imageUrl" alt="Insert Cover Image">
            </div>
          </button>
        </div>
      </div>
</div>

<!-- <pre>{{ (blogPosts$ | async) | json }}</pre> -->
