#travellist-nav-icon {
  text-decoration: none;
  color: whitesmoke;
}

.editMode {
  background-color: rgba(226, 85, 49, 0.863) !important;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

#nav-profilePic {
  position: relative;
  left: -10px;
  border-radius: 50%;
  height: 40px;
  float: left;
  margin-left: -10px;
}

.nav-button {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-icon {
  padding: 5px;
  position: relative;
  top: -5px;
  left: -8px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.mat-dialog-container {
  padding-top: 0px !important;
  width: 100% !important;
  height: auto !important;
}
