<div class="container">
  <div class="row">
      <h1>Create a New Blog Post</h1>
      <br>
      <form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
          <div class="row">
              <div class="col-md-7">
                  <div class="form-group">
                      <label for="Title">Title</label>
                      <input #formTitle="ngModel" type="text" name="title" maxlength="34" [(ngModel)]="blogPost.title" class="form-control" id="post-title" placeholder="Enter title" required>
                      <div *ngIf="formTitle.invalid && formTitle.touched" maxlength="102" class="alert alert-danger">
                          Title field is required
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Descripion">Description</label>
                      <input #desc="ngModel" type="text" name="description" [(ngModel)]="blogPost.description" class="form-control" id="post-desc" [value]="blogPost.description" required>
                      <div *ngIf="desc.invalid && desc.touched" class="alert alert-danger">
                          A description/summary of this post is required
                      </div>
                      <small id="emailHelp" class="form-text text-muted">A brief description of this post.</small>
                  </div>
                  <div class="form-group">
                      <label for="Image Url">Image Url</label>
                      <input #image="ngModel" type="url" name="imageUrl" [(ngModel)]="blogPost.imageUrl" class="form-control" id="post-imageURL" [value]="blogPost.imageUrl" required>
                      <div *ngIf="image.invalid && image.touched" class="alert alert-danger">
                          Image is required
                      </div>
                      <small id="emailHelp" class="form-text text-muted">Cover image for blog entry</small>
                  </div>
              </div>
              <div class="col-md-5">
                  <preview-card [previewPost]="blogPost"></preview-card>
              </div>
          </div>
          <div class="form-group" style="margin-top: 20px">
              <quill-editor [style]="{height: '420px'}"></quill-editor>
          </div>
          <div style="float: right; margin-bottom: 20px">
              <button type="submit" class="btn btn-primary" style="margin-right: 5px">Submit</button>
              <button   *ngIf="id" type="submit" (click)="onDeletePost()" class="btn btn-danger" style="margin-right: 5px">Delete</button>
              <button pull-right class="btn btn-default" routerLink="/main">Cancel</button>
          </div>
      </form>
  </div>
</div>
