<div id="world-map-title" class="container">
  <h1>Check Out Where I've Been!</h1>
  <div class="row">
    <div id="world-map-container" leaflet [leafletOptions]="options" [leafletZoom]="leafletZoom">
    </div>
  </div>
</div>

<!-- <div class="leaflet-container grow z-0" leaflet [leafletOptions]="options" [leafletZoom]="leafletZoom" [leafletCenter]="leafletCenter" (leafletMapReady)="onMapReady($event)">
  <div [leafletLayer]="tileLayer"></div>
  <div *ngFor="let marker of markerLayers " [leafletLayer]="marker"></div>
</div> -->
