#world-map-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

#world-map-container {
  height: 600px;
}

#location-container {
  background-color: whitesmoke;
  height: 370px;
}

#location-heading {
  text-align: center;
  margin-top: 20px;
}

#location-button {
  margin-top: 10px;
}
