/* Application-wide style rules */

.card-img-top {
  width: 100% !important;
}

.blog-card {
  background-color: #424242 !important;
  display: block;
  padding: 3px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.blog-card img {
  height: 190px !important;

}

.blog-card-title {
  color: lightsteelblue;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-top: 10px;
  text-align: center;
  height: 20px;
}

.blog-card-text {
  color: lightgray;
  padding-top: 10px;
  margin-bottom: 8px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 32px;
}
