/* Application-wide style rules */



.blog-card {
  background-color: #424242 !important;
  display: block;
  padding: 3px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.blog-card img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 1000%;
}

.blog-card-title{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-top: 10px;
  text-align: center;
  height: 20px;
}

.blog-card-text {
  padding-top: 10px;
  margin-bottom: 8px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 32px;
}
